#admin_login{
    width: 60%;
    border: solid;
    border-width: thin;
    padding: 0rem 3rem 4rem 2rem;
    border-radius: 1.5rem;
}
body{
    background: rgba(255,247,255,1);
    background: -moz-linear-gradient(left, rgba(255,247,255,1) 0%, rgba(230,230,230,1) 22%, rgba(209,209,209,1) 63%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,247,255,1)), color-stop(22%, rgba(230,230,230,1)), color-stop(63%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(left, rgba(255,247,255,1) 0%, rgba(230,230,230,1) 22%, rgba(209,209,209,1) 63%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(left, rgba(255,247,255,1) 0%, rgba(230,230,230,1) 22%, rgba(209,209,209,1) 63%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,247,255,1) 0%, rgba(230,230,230,1) 22%, rgba(209,209,209,1) 63%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to right, rgba(255,247,255,1) 0%, rgba(230,230,230,1) 22%, rgba(209,209,209,1) 63%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7ff', endColorstr='#fefefe', GradientType=1 );
}
.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.company-name{
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
}
#add_make{
    margin-top: 2rem;
    width: 100%;
}
.model_name{
    margin-top: 10%;
}